@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

button {
  border: none;
}

.container-one {
  background-color: #252525;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 20px;
}
.container-one .box-item {
  display: flex;
  gap: 15px;
}
.container-one .box-item i {
  color: red;
  font-size: 18px;
}
.container-one .box-item button {
  background-color: #252525;
  color: rgba(255, 255, 255, 0.662);
}
@media screen and (min-width: 440px) {
  .container-one .box-item button {
    border-left: 2px solid rgba(255, 255, 255, 0.546);
    padding-left: 10px;
  }
}
.container-one .box-item-two {
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.509);
}
.container-one .box-item-two i {
  padding: 0 5px;
}
@media screen and (min-width: 440px) {
  .container-one .box-item-two {
    display: flex;
    gap: 10px;
  }
}
@media screen and (min-width: 844px) {
  .container-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .container-one .box-item-two {
    margin: 0;
  }
}

.container-two {
  background-image: url(../images/cake.jpg);
  width: 100%;
  background-size: cover;
  color: white;
  padding: 50px 30px;
}
.container-two h4 {
  margin-top: 60px;
}
.container-two h1 {
  margin-top: 40px;
}
@media screen and (min-width: 844px) {
  .container-two h1 {
    font-size: 60px;
  }
}
.container-two p {
  margin-top: 40px;
}
.container-two .box-wraper {
  margin-top: 40px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
@media screen and (min-width: 440px) {
  .container-two .box-wraper {
    flex-direction: row;
  }
}
.container-two .box-wraper button:first-of-type {
  width: 130px;
  height: 50px;
  background-color: black;
  color: white;
  border: 1px solid white;
  transition: 0.5s;
  cursor: pointer;
}
.container-two .box-wraper button:first-of-type:hover {
  background-color: red;
  border: none;
}
.container-two .box-wraper button:last-of-type {
  width: 130px;
  height: 50px;
  background-color: red;
  color: white;
  transition: 0.5s;
  cursor: pointer;
  margin-bottom: 20px;
}
.container-two .box-wraper button:last-of-type:hover {
  background-color: black;
  border: 1px solid white;
}

.container-three {
  width: 100%;
  padding-bottom: 40px;
  background-color: #F4F4F4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.container-three h4 {
  color: rgba(0, 0, 0, 0.788);
}
.container-three .container-wraper {
  text-align: start;
  width: 100%;
  margin-top: 50px;
  padding: 0 20px;
}
.container-three .container-wraper .container-paragraph {
  margin-top: 20px;
}
.container-three .container-wraper i {
  font-size: 35px;
  margin-top: 30px;
  color: red;
}
.container-three .container-wraper h3 {
  margin-top: 20px;
}
.container-three .img-box img {
  width: 250px;
  height: 200px;
  margin-top: 30px;
  border: 11px solid rgba(0, 0, 0, 0.196);
}
@media screen and (min-width: 844px) {
  .container-three .main-wraper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
  }
  .container-three .img-box img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .container-three .main-wraper {
    gap: 20px;
  }
  .container-three .container-wraper {
    width: 50%;
  }
  .container-three .container-wraper i {
    font-size: 60px;
  }
  .container-three .container-wraper .ultra-wraper {
    display: flex;
  }
}/*# sourceMappingURL=style.css.map */